<!DOCTYPE html>
<html>

<head>
    <title>chand1012.dev Newsletter</title>

    <link rel="stylesheet" type="text/css" href="https://chand1012.dev/style.css" />
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="https://chand1012.dev/feed.xml" />

</head>

<body>
    <div class="wrapper-masthead">
        <div class="container">
            <header class="masthead clearfix">
                <a href="https://chand1012.dev/" class="site-avatar"><img src="https://s.gravatar.com/avatar/434d67e1ebc4109956d035077ef5adb8?s=80" /></a>

                <div class="site-info">
                    <h1 class="site-name"><a href="https://chand1012.dev/">chand1012.dev</a></h1>
                    <p class="site-description">chand1012's dev blog.</p>
                </div>

                <nav>
                    <a href="https://chand1012.dev/">Blog</a>
                    <a href="https://chand1012.dev/about">About</a>
                    <a href="https://chand1012.dev/sponsors">Sponsors</a>
                    <a href="https://chand1012.dev/games">Games</a>
                </nav>
            </header>
        </div>
    </div>

    <div id="main" role="main" class="container">
        <h1>Subscribe to my Newsletter!</h1>
        <div class="entry">
            Cancel at anytime!
            <br>
            <form action="/subscribe" method="POST">
                <div>
                    <label for="email"> Email </label>
                    <input name="email" id="email" value="Email">
                </div>
                <div>
                    <button>Submit</button>
                </div>
            </form>
        </div>
    </div>

    <div class="wrapper-footer">
        <div class="container">
            <footer class="footer">
                <a href="https://github.com/chand1012"><i class="svg-icon github"></i></a>
                <a href="https://instagram.com/chand1012"><i class="svg-icon instagram"></i></a>
                <a href="/feed.xml"><i class="svg-icon rss"></i></a>
                <a href="https://www.twitter.com/Chand1012Dev"><i class="svg-icon twitter"></i></a>
                <a href="https://youtube.com/channel/UCRKeF9dxhScFwB4VyOqxkhQ"><i class="svg-icon youtube"></i></a>
                <a href="https://dev.to/chand1012">
                    <img src="https://camo.githubusercontent.com/5db862b15e660451b524382c77f60cbd49f176f9/68747470733a2f2f6564656e742e6769746875622e696f2f537570657254696e7949636f6e732f696d616765732f7376672f6465765f746f2e737667"
                        alt="Chandler Lofland's DEV Profile" height="40" width="40">
                </a>
                <iframe src="https://github.com/sponsors/chand1012/button" title="Sponsor chand1012" height="35"
                    width="107" style="border: 0;"></iframe>
            </footer>
        </div>
    </div>
</body>

</html>